#home{
    flex-wrap: wrap;
}

#home #home-content{
    width: 90vw;
    font-size: 1em;
}

#about #about-content{
    width: 95vw;
    font-size: 1em;
}

 #project #other ul, #project #course ul, #project #research ul{
    width: 95vw;
}

#project #other ul li p, #project #course ul li p, #project #research ul li p{
    font-size: 1em;
}

#project #other ul li h3, #project #course ul li h3, #project #research ul li h3{
    font-size: 1.2em;
}

#project #other ul li img, #project #course ul li img, #project #research ul li img{
    width: 40vw;
}

#project #other, #project #course, #project #research{
     width: 95vw;
}

#project #research h3{
    font-size: 1.2em;
}

#project #course h3{
    font-size: 1.2em;
}

#project #other h3{
    font-size: 1.2em;
}

#project #research , #project #course, #project #other{
    width: 95vw;
    font-size: 1em;
}

footer{
    margin: 0 10px;
}